<a href="javascript:cgv_get_controller('$id$_img').shift_up('50%')">/\</a>
<br>
<a href="javascript:cgv_get_controller('$id$_img').shift_left('50%')">&lt;</a>
<img id="$id$_img">
<a href="javascript:cgv_get_controller('$id$_img').shift_right('50%')">&gt;</a>
<br>
<a href="javascript:cgv_get_controller('$id$_img').shift_down('50%')">\/</a>
<br>
<a href="javascript:cgv_get_controller('$id$_img').zoom_out()">Zoom out</a>
<a href="javascript:cgv_get_controller('$id$_img').rescale()">Rescale</a>

<br>
<form id="$id$_form">
	<input type="text" name="x_start">
	<input type="text" name="x_stop">
	<input type="text" name="y_start">
	<input type="text" name="y_stop">
</form>
